{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

{% if tag is iterable %}

    <p id="element_{{ id }}">
    {% for line in tag %}
        {% include 'protocol/show.admin.line.html.twig' with {'line': line } %}
    {% endfor %}
    </p>

{% else %}

    <p id="element_{{ id }}">
        {% include 'protocol/show.admin.line.html.twig' with {'line': tag } %}
    </p>

{% endif %}
