{% extends 'base.html.twig' %}

{% block body %}

    <style>
        /* Not ideal, but this way we ensure these are specific to the home page */
        body, p, a, a:hover {
            color: white;
        }
        body {
            background-blend-mode: unset;
            background-color: unset;
        }
    </style>

    <section id="top-banner">
        <h1>Prevención de riesgos laborales</h1>
        <h2>en medios digitales</h2>
    </section>

    <section id="mid-banner">
        <h1>Protocolos laborales de empresa</h1>
        <article id="mid-banner-left">
            <a href="{{ path('info_redes') }}">
                <h3>Uso de redes</h3>
                <span class="fill"> </span>
            </a>
        </article>
        <article id="mid-banner-center">
            <a href="{{ path('info_equipos') }}">
                <h3>Uso de equipos informáticos</h3>
                <span class="fill"> </span>
            </a>
        </article>
        <article id="mid-banner-right">
            <a href="{{ path('info_mensajerias') }}">
                <h3>Uso de sistema de mensajería</h3>
                <span class="fill"> </span>
            </a>
        </article>
    </section>

    <section id="steps">
        <h1>Cómo hacerlo</h1>
        <div class="wrap-steps">
            <article>
                <span class="step number">1</span>
                <h3><span class="highlight">Define</span>cómo es tu empresa</h3>
                <p>
                    Introduce la información de la empresa
                    más relevante, para que podamos
                    indicarte cuál es la mejor opción para ti.<br/>
                    Ten claros los límites legales.
                </p>
            </article>
            <article>
                <span class="step number">2</span>
                <h3><span class="highlight">Diseña</span> un protocolo laboral a tu medida</h3>
                <p>
                    Contesta unas sencillas preguntas en tiempo
                    real, y crea una imagen de tu día a día.<br/>
                    ¿Qué hacen tus empleados?<br/>
                    ¿Cómo trabajan?
                </p>
            </article>
            <article>
                <span class="step number blue">3</span>
                <h3><span class="highlight">Descarga</span> on line tu protocolo laboral</h3>
                <p>
                    ¡Listo! De manera inmediata
                    recibirás el protocolo que has
                    creado, y un manual de
                    instrucciones para ayudarte en su
                    implementación.
                </p>
            </article>
        </div>
    </section>

{% endblock %}
