{% extends 'base.html.twig' %}

{% block body %}

    <style>
        #top {
            background-image: url('/images/home-up.png');
            height: 881px;
        }
        #top h1, #top h2 {
            color: rgba(254, 255, 255, 0.67);
            font-family: Sans, sans-serif;
            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
        }
        #top h1 {
            font-size: 55px;
            margin-bottom: 15px;
            padding-top: 300px;
        }
        #top h2 {
            padding-top: 0;
            font-size: 35px;
        }
    </style>

    <section id="top">
        <h1>Prevención de riesgos laborales</h1>
        <h2>en medios digitales</h2>
    </section>

    <section id="steps">
        <div class="wrap">
            <article>
                <span class="step number">1</span>
                <h3><span class="highlight">Define</span> tu empresa</h3>
                <p>
                    Introduce la información de la empresa
                    más relevante, para que podamos
                    indicarte cuál es la mejor opción para ti.
                    Ten claros los límites legales.
                </p>
            </article>
            <article>
                <span class="step number">2</span>
                <h3><span class="highlight">Diseña</span> tu protocolo</h3>
                <p>
                    Contesta unas sencillas preguntas en tiempo real,
                    y crea una imagen de tu día a día. ¿Qué
                    hacen tus empleados? ¿Cómo trabajan?
                </p>
            </article>
            <article>
                <span class="step number">3</span>
                <h3><span class="highlight">Implementa</span> tu solución</h3>
                <p>
                    ¡Listo! De manera inmediata recibirás el
                    protocolo que has creado, y un manual
                    de instrucciones para ayudarte en su
                    implementación.
                </p>
            </article>
        </div>
    </section>

{% endblock %}
