{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

{% extends 'base.html.twig' %}

{% block body %}

    <style>
        /* Not ideal, but this way we ensure these are specific to the home page */
        body, p, a, a:hover {
            color: #2b313d;
        }
        #top-banner .left {
                float: left;
    width: 60%;
    border-right: 1px solid #c4c9cf;
    color: black;
        }
        #top-banner .right {
    float: right;
    width: 40%;
    color: black;
        }
        #top-banner h1 {
            color: #4e9bd3;
            padding-top: 0;
color: #4e9bd3;
    padding-top: 100px;
    font-size: 40px;
    text-transform: none;
    font-weight: 500;
margin-bottom: 0;
        }
#top-banner h2 {
    padding-top: 0;
    font-size: 35px;
    color: #2b313d;
    text-transform: none;
    width: 50%;
    text-align: center;
    margin: 0 25%;
}
#top-banner p {
padding: 25px 10px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-weight: 100;
}
    </style>

    <section id="top-banner">
        <div class="wrap">
            <div class="left">
                <h1>Protocolos laborales</h1>
                <h2>para proteger su empresa</h2>
                <p>
                    En Ammana te ofrecemos ayuda para crear de forma rápida, sencilla y efectiva
                    un protocolo laboral seguro y personalizado para proteger tu empresa.
                </p>
                <p>
                    <img src="/images/locker.png">
                </p>
            </div>
            <div class="right">
                <div>
                    <h3>Uso de <em>redes sociales</em></h3>
                </div>
                <div>
                    <h3>Uso de <em>redes sociales</em></h3>
                </div>
                <div>
                    <h3>Uso de <em>redes sociales</em></h3>
                </div>
            </div>
        </div>
    </section>

    <section id="mid-banner">
        <h1>Protocolos laborales de empresa</h1>
        <article id="mid-banner-left">
            <a href="{{ path('info_redes') }}">
                <h3>Uso de redes</h3>
                <span class="fill"> </span>
            </a>
        </article>
        <article id="mid-banner-center">
            <a href="{{ path('info_equipos') }}">
                <h3>Uso de equipos informáticos</h3>
                <span class="fill"> </span>
            </a>
        </article>
        <article id="mid-banner-right">
            <a href="{{ path('info_mensajerias') }}">
                <h3>Uso de sistema de mensajería</h3>
                <span class="fill"> </span>
            </a>
        </article>
    </section>

    <section id="steps">
        <h1>Cómo hacerlo</h1>
        <div class="wrap-steps">
            <article>
                <span class="step number">1</span>
                <h3><span class="highlight">Define</span>cómo es tu empresa</h3>
                <p>
                    Introduce la información de la empresa
                    más relevante, para que podamos
                    indicarte cuál es la mejor opción para ti.<br/>
                    Ten claros los límites legales.
                </p>
            </article>
            <article>
                <span class="step number">2</span>
                <h3><span class="highlight">Diseña</span> un protocolo laboral a tu medida</h3>
                <p>
                    Contesta unas sencillas preguntas en tiempo
                    real, y crea una imagen de tu día a día.<br/>
                    ¿Qué hacen tus empleados?<br/>
                    ¿Cómo trabajan?
                </p>
            </article>
            <article>
                <span class="step number blue">3</span>
                <h3><span class="highlight">Descarga</span> on line tu protocolo laboral</h3>
                <p>
                    ¡Listo! De manera inmediata
                    recibirás el protocolo que has
                    creado, y un manual de
                    instrucciones para ayudarte en su
                    implementación.
                </p>
            </article>
        </div>
    </section>

{% endblock %}
