{% extends 'base.html.twig' %}

{% block body %}

    <style>
        #top-banner {
            background-image: url('/images/home-up.png');
            height: 881px;
        }
        #top-banner h1, #top-banner h2, section#steps h1 {
            color: rgba(254, 255, 255, 0.67);
            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
        }
        #top-banner h1 {
            font-size: 55px;
            margin-bottom: 15px;
            padding-top: 300px;
        }
        #top-banner h2 {
            padding-top: 0;
            font-size: 35px;
        }

        body { 
            background: url('/images/home-mid.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #mid-banner {
            height: 881px;
            text-align: center;
        }
        #mid-banner h1 {
            color: rgba(254, 255, 255, 0.67);
            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 55px;
            margin-bottom: 15px;
            padding-top: 200px;
            padding-bottom: 40px;
        }
        #mid-banner > article {
            display: inline-block;
            float: left;
        }
        #mid-banner-left {
            background-image: url('/images/home-mid-left.png');
            height: 479px;
            width: 34.1%;
        }
        #mid-banner-center {
            background-image: url('/images/home-mid-center.png');
            height: 479px;
            width: 37.4%;
        }
        #mid-banner-right {
            background-image: url('/images/home-mid-right.png');
            height: 479px;
            width: 28.5%;
        }
        #mid-banner h3 {
            top: 0;
            height: 80px;
            background: rgba(133, 138, 143, 0.56);
            color: white;
            text-align: left;
            padding-left: 5%;
            padding-top: 20px;
            font-family: 'Muli', sans-serif;
            margin-bottom: 0;
        }
        #mid-banner a:hover h3 {
            background: rgba(133, 138, 143, 0.78);
        }
        #mid-banner a span.fill {
            width: 100%;
            height: 399px;
            display: block;
        }
        #mid-banner a:hover span.fill {
            background: rgba(133, 138, 143, 0.28);
        }

        #proba-menu {
            background-color: rgba(133, 138, 143, 0.5);
            width: 100%;
            height: 150px;
            position: fixed;
        }
        #proba-menu > div {
            max-width: 1000px;
            margin: 0 auto;
            color: #feffff;
            padding-top: 50px;
        }
        #proba-menu > div img {
            margin-top: -10px;
        }
        #proba-menu ul {
            display: inline;
            list-style: none;
            width: 800px;
            text-align: right;
            float: right;
        }
        #proba-menu li {
            display: inline;
            font-size: 24px;
            padding: 0px 0px 0px 70px;
        }
        #proba-menu li a {
            color: #feffff;
        }

        section#steps h1 {
            font-size: 55px;
            margin-bottom: 15px;
            padding-top: 100px;
            padding-bottom: 40px;
        }

        section#steps .step.number {
            display: block;
            float: left;
            grid-column: 1;
            grid-row: 1;
            color: white;
        }

        section#steps .step.number.blue {
            color: #418CCB;
        }

        section#steps article {
            display: grid;
            grid-template-columns: 60px auto;
        }

        section#steps article h3 {
            display: block;
            float: right;
            grid-column: 2;
            grid-row: 1;
            padding-top: 0;
            color: white;
            font-size: 20px;
        }

        section#steps h3 > .highlight {
            color: white;
            font-size: 32px;
        }

        section#steps article p {
            grid-column: 2;
            grid-row: 2;
            color: white;
            margin-left: 0;
        }

        .wrap-steps {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            background: rgba(79, 128, 176, 0.40);
            padding-top: 30px;
            float: left;
            margin-bottom: 150px;
        }

        .related-posts {
            background: none;
            padding-top: 200px;
            color: white;
        }

        body, p, a, a:hover {
            color: white;
        }
    </style>

    <section id="top-banner">
        <h1>Prevención de riesgos laborales</h1>
        <h2>en medios digitales</h2>
    </section>

    <section id="mid-banner">
        <h1>Protocolos laborales de empresa</h1>
        <article id="mid-banner-left">
            <a href="">
                <h3>Uso de redes</h3>
                <span class="fill"> </span>
            </a>
        </article>
        <article id="mid-banner-center">
            <a href="">
                <h3>Uso de equipos informáticos</h3>
                <span class="fill"> </span>
            </a>
        </article>
        <article id="mid-banner-right">
            <a href="">
                <h3>Uso de sistema de mensajería</h3>
                <span class="fill"> </span>
            </a>
        </article>
    </section>

    <section id="steps">
        <h1>Cómo hacerlo</h1>
        <div class="wrap-steps">
            <article>
                <span class="step number">1</span>
                <h3><span class="highlight">Define</span>cómo es tu empresa</h3>
                <p>
                    Introduce la información de la empresa<br/>
                    más relevante, para que podamos<br/>
                    indicarte cuál es la mejor opción para ti.<br/>
                    Ten claros los límites legales.
                </p>
            </article>
            <article>
                <span class="step number">2</span>
                <h3><span class="highlight">Diseña</span> un protocolo laboral a tu medida</h3>
                <p>
                    Contesta unas sencillas preguntas en tiempo<br/>
                    real, y crea una imagen de tu día a día.<br/>
                    ¿Qué hacen tus empleados?<br/>
                    ¿Cómo trabajan?
                </p>
            </article>
            <article>
                <span class="step number blue">3</span>
                <h3><span class="highlight">Descarga</span> on line tu protocolo laboral</h3>
                <p>
                    ¡Listo! De manera inmediata<br/>
                    recibirás el protocolo que has<br/>
                    creado, y un manual de<br/>
                    instrucciones para ayudarte en su<br/>
                    implementación.
                </p>
            </article>
        </div>
    </section>

{% endblock %}
