{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

{% extends 'base.html.twig' %}

{% block body %}

    <style>
        /* Not ideal, but this way we ensure these are specific to the home page */
        body, p, a, a:hover {
            color: white;
        }
        body { background-image: url(/web/images/home-mid.w1920.jpg); }
        @media screen and ( min-width: 1900px ) {
            body { background-image: url(/web/images/home-mid.w1920.jpg);        }  /* 1920x881 */
        }
        @media screen and ( max-width: 1900px ) {
            body { background-image: url(/web/images/home-mid.w1900.jpg);        }  /* 1900x881 */
        }
        @media screen and ( max-width: 1800px ) {
            body { background-image: url(/web/images/home-mid.w1800.jpg);        }  /* 1800x881 */
        }
        @media screen and ( max-width: 1700px ) {
            body { background-image: url(/web/images/home-mid.w1700.jpg);        }  /* 1700x881 */
        }
        @media screen and ( max-width: 1600px ) {
            body { background-image: url(/web/images/home-mid.w1600.jpg);        }  /* 1600x881 */
        }
        @media screen and ( max-width: 1500px ) {
            body { background-image: url(/web/images/home-mid.w1500.jpg);        }  /* 1500x881 */
        }
        @media screen and ( max-width: 1400px ) {
            body { background-image: url(/web/images/home-mid.w1400.jpg);        }  /* 1400x881 */
        }
        @media screen and ( max-width: 1300px ) {
            body { background-image: url(/web/images/home-mid.w1300.jpg);        }  /* 1300x881 */
        }
        @media screen and ( max-width: 1200px ) {
            body { background-image: url(/web/images/home-mid.w1200.jpg);        }  /* 1200x881 */
        }
        @media screen and ( max-width: 1100px ) {
            body { background-image: url(/web/images/home-mid.w1100.jpg);        }  /* 1100x881 */
        }
        @media screen and ( max-width: 1000px ) {
            body { background-image: url(/web/images/home-mid.w1000.jpg);        }  /* 1000x881 */
        }
        @media screen and ( max-width: 900px ) {
            body { background-image: url(/web/images/home-mid.w900.jpg);        }  /* 900x881 */
        }
        @media screen and ( max-width: 800px ) {
            body { background-image: url(/web/images/home-mid.w800.jpg);        }  /* 800x881 */
        }
        @media screen and ( max-width: 700px ) {
            body { background-image: url(/web/images/home-mid.w700.jpg);        }  /* 700x881 */
        }
        @media screen and ( max-width: 600px ) {
            body { background-image: url(/web/images/home-mid.w600.jpg);        }  /* 600x881 */
        }
        @media screen and ( max-width: 500px ) {
            body { background-image: url(/web/images/home-mid.w500.jpg);        }  /* 500x881 */
        }
        @media screen and ( max-width: 400px ) {
            body { background-image: url(/web/images/home-mid.w400.jpg);        }  /* 400x881 */
        }
        @media screen and ( max-width: 300px ) {
            body { background-image: url(/web/images/home-mid.w300.jpg);        }  /* 300x881 */
        }
        @media screen and ( max-width: 200px ) {
            body { background-image: url(/web/images/home-mid.w200.jpg);        }  /* 200x881 */
        }
    </style>

    <section id="top-banner">
        <h1>Prevención de riesgos laborales</h1>
        <h2>en medios digitales</h2>
    </section>

    <section id="mid-banner">
        <h1>Protocolos laborales de empresa</h1>
        <article id="mid-banner-left">
            <a href="{{ path('info_redes') }}">
                <h3>Uso de redes</h3>
                <span class="fill"> </span>
            </a>
        </article>
        <article id="mid-banner-center">
            <a href="{{ path('info_equipos') }}">
                <h3>Uso de equipos informáticos</h3>
                <span class="fill"> </span>
            </a>
        </article>
        <article id="mid-banner-right">
            <a href="{{ path('info_mensajerias') }}">
                <h3>Uso de sistema de mensajería</h3>
                <span class="fill"> </span>
            </a>
        </article>
    </section>

    <section id="steps">
        <h1>Cómo hacerlo</h1>
        <div class="wrap-steps">
            <article>
                <span class="step number">1</span>
                <h3><span class="highlight">Define</span>cómo es tu empresa</h3>
                <p>
                    Introduce la información de la empresa
                    más relevante, para que podamos
                    indicarte cuál es la mejor opción para ti.<br/>
                    Ten claros los límites legales.
                </p>
            </article>
            <article>
                <span class="step number">2</span>
                <h3><span class="highlight">Diseña</span> un protocolo laboral a tu medida</h3>
                <p>
                    Contesta unas sencillas preguntas en tiempo
                    real, y crea una imagen de tu día a día.<br/>
                    ¿Qué hacen tus empleados?<br/>
                    ¿Cómo trabajan?
                </p>
            </article>
            <article>
                <span class="step number blue">3</span>
                <h3><span class="highlight">Descarga</span> on line tu protocolo laboral</h3>
                <p>
                    ¡Listo! De manera inmediata
                    recibirás el protocolo que has
                    creado, y un manual de
                    instrucciones para ayudarte en su
                    implementación.
                </p>
            </article>
        </div>
    </section>

{% endblock %}
