{% extends 'base.html.twig' %}

{% block body %}

    <style>
        #top {
        }
    </style>

    <section id="top">
        <img src="/images/home-up.png">
    </section>

    <section id="steps">
        <div class="wrap">
            <article>
                <span class="step number">1</span>
                <h3><span class="highlight">Define</span> tu empresa</h3>
                <p>
                    Introduce la información de la empresa
                    más relevante, para que podamos
                    indicarte cuál es la mejor opción para ti.
                    Ten claros los límites legales.
                </p>
            </article>
            <article>
                <span class="step number">2</span>
                <h3><span class="highlight">Diseña</span> tu protocolo</h3>
                <p>
                    Contesta unas sencillas preguntas en tiempo real,
                    y crea una imagen de tu día a día. ¿Qué
                    hacen tus empleados? ¿Cómo trabajan?
                </p>
            </article>
            <article>
                <span class="step number">3</span>
                <h3><span class="highlight">Implementa</span> tu solución</h3>
                <p>
                    ¡Listo! De manera inmediata recibirás el
                    protocolo que has creado, y un manual
                    de instrucciones para ayudarte en su
                    implementación.
                </p>
            </article>
        </div>
    </section>

{% endblock %}
