{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

{% extends 'base.html.twig' %}

{% block body %}

    <style>
        /* Not ideal, but this way we ensure these are specific to the home page */
        body, p, a, a:hover {
            color: #2b313d;
        }
        #top-banner .left {
            float: left;
            width: 60%;
            border-right: 1px solid #c4c9cf;
            color: black;
            padding: 0px 10%;
        }
        #top-banner .right {
            float: right;
            width: 40%;
            color: black;
        }
        #top-banner h1 {
            color: #4e9bd3;
            padding-top: 0;
color: #4e9bd3;
    padding-top: 100px;
    font-size: 40px;
    text-transform: none;
    font-weight: 500;
margin-bottom: 0;
        }
#top-banner h2 {
    padding-top: 0;
    font-size: 35px;
    color: #2b313d;
    text-transform: none;
    width: 50%;
    text-align: center;
    margin: 0 25%;
}
#top-banner p {
padding: 25px 10px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-weight: 100;
}
section#steps .wrap-steps {
    background: #61ace3 url('/images/clouds.png');
background-repeat: no-repeat;
    background-size: 120px;
    background-position-x: 20px;
    background-position-y: 10px;
    border-bottom: solid 20px #2b313d;
    margin-bottom: 0;
    padding-bottom: 0;
}
#top-banner {
    height: auto;
}
section#steps {
    margin-top: 0;
    margin-bottom: 0;
}
section#steps article h3 {
    display: block;
    float: right;
    grid-column: 2;
    grid-row: 1;
    padding-top: 0;
    color: white;
    font-size: 14px;
    color: #2467ad;
    text-transform: uppercase;
    text-align: center;
}
section#steps article p {
    grid-column: 2;
    grid-row: 2;
    color: white;
    margin-left: 0;
    text-align: center;
font-size: 14px;
    padding: 0px 0px 50px 0px;
    font-weight: 100;
}
section#steps h3 > .highlight {
    color: white;
    font-size: 24px;
    text-transform: none;
    font-weight: 100;
}
section#steps .step.number {
    font-family: 'Berkshire Swash', cursive;
    color: #2474c9;
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    float: none;
    display: block;
    margin-right: 10px;
}
section#steps h3 > .highlight,
section#steps .step.number {
    display: inline;
}
section#steps h3 > .title {
    display: block;
}

        #contact .left {
            float: left;
            width: 60%;
            color: white;
        }
        #contact .right {
            float: right;
            width: 40%;
            color: white;
        }
        #contact .left h1 {
            font-size: 50px;
            margin-bottom: 0;
        }
        #contact .left h2 {
            font-size: 50px;
            color: #64ade4;
            font-weight: 100;
            padding-top: 20px;
        }
        #contact .left p {
            font-size: 20px;
            font-weight: 100;
            padding-right: 50px;
        }
        #contact .left p {
            color: white;
        }
        #contact .right form {
            width: 100%;
            padding-top: 40px;
        }
        #contact .right form .row {
            width: 100%;
            float: left;
        }
        #contact .right form .row label {
            float: left;
            width: 30%;
            text-align: left;
            font-size: 18px;
        }
        #contact .right form .row input {
            float: left;
            width: 70%;
            height: 30px;
            font-size: 12px;
            margin-top: 15px;
        }
        #contact .right form .row textarea {
            float: right;
            width: 70%;
            margin-top: 15px;
            height: 150px;
        }

        #top-banner {
            height: 540px;
        }
        #top-banner .right > div {
            grid-template-columns: auto auto;
            display: grid;
            border-bottom: 1px solid #c4c9cf;
            height: 180px;
        }
        #top-banner .right > div:last-child {
            border-bottom: none;
        }
        #top-banner .right > div > h3 {
            padding-top: 0;
            font-size: 22px;
            color: #2b313d;
            text-transform: none;
            text-align: left;
            margin: 20px 30px 0px 40px;
            font-weight: 100;
            grid-row: 1 / 2;
            grid-column: 1 / 3;
        }
        #top-banner .right > div > h3 > em {
            color: #4e9bd3;
            font-style: normal;
        }
        #top-banner .right > div > p {
            padding: 0;
            margin: 10px 0px 20px 50px;
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
            font-weight: 600;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        #top-banner .right > div > img {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            float: right;
            margin-top: 0px;
        }
        #top-banner .right > div:nth-child(2) > img {
            margin-top: -10px;
        }
    </style>

    <section id="top-banner">
        <div class="left">
            <h1>Protocolos laborales</h1>
            <h2>para proteger su empresa</h2>
            <p>
                En Ammana te ofrecemos ayuda para crear de forma rápida, sencilla y efectiva
                un protocolo laboral seguro y personalizado para proteger tu empresa.
            </p>
            <p>
                <img src="/images/locker.png">
            </p>
        </div>
        <div class="right">
            <div>
                <h3>Uso de <em>redes sociales</em></h3>
                <p>
                    Facebook, <br/>
                    instagram, <br/>
                    twitter, ...
                </p>
                <img src="/images/protocolo_redes.png">
            </div>
            <div>
                <h3>Uso de <em>equipos informáticos</em></h3>
                <p>
                    Cuentas de correo, <br/>
                    programas, <br/>
                    equipos, ...
                </p>
                <img src="/images/protocolo_equipos.png">
            </div>
            <div>
                <h3>Uso de <em>sistemas de mensajería</em></h3>
                <p>
                    Intranet, <br/>
                    whatsapp, <br/>
                    messenger, ...
                </p>
                <img src="/images/protocolo_mensajeria.png">
            </div>
        </div>
    </section>

    <section id="steps">
        <div class="wrap-steps">
            <article>
                <h3>
                    <span class="step number">1</span>
                    <span class="highlight">Define</span>
                    <span class="title">cómo es tu empresa</span>
                </h3>
                <p>
                    Introduce la información de la empresa
                    más relevante, para que podamos
                    indicarte cuál es la mejor opción para ti.<br/>
                    Ten claros los límites legales.
                </p>
            </article>
            <article>
                <h3>
                    <span class="step number">2</span>
                    <span class="highlight">Diseña</span>
                    <span class="title">un protocolo laboral a tu medida</span>
                </h3>
                <p>
                    Contesta unas sencillas preguntas en tiempo
                    real, y crea una imagen de tu día a día.<br/>
                    ¿Qué hacen tus empleados?<br/>
                    ¿Cómo trabajan?
                </p>
            </article>
            <article>
                <h3>
                    <span class="step number">3</span>
                    <span class="highlight">Descarga</span>
                    <span class="title">tu protocolo + manual de uso</span>
                </h3>
                <p>
                    ¡Listo! De manera inmediata
                    recibirás el protocolo que has
                    creado, y un manual de
                    instrucciones para ayudarte en su
                    implementación.
                </p>
            </article>
        </div>
    </section>

<style>
    #blog h1 {
        color: #4e9bd3;
        padding-top: 100px;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 0;
    }
    #blog .left {
        float: left;
        width: 50%;
        color: black;
    }
    #blog .right {
        float: right;
        width: 50%;
        color: black;
    }
</style>

    <section id="blog">
        <div class="wrap">
            <div class="left">
                <h1>Actualidad</h1>
            </div>
            <div class="right">
                <h1>Dudas frecuentes</h1>
            </div>
        </div>
    </section>

<style>
#contact {
    background: #2b313d;
}
</style>

    <section id="contact">

        <div class="wrap">
            <div class="left">
                <h1>Contacto</h1>
                <h2>¿Tienes alguna duda?</h2>
                <p>
                    Si tienes un caso especial en tu empresa o
                    necesitas ayuda con cualquier paso del proceso
                    de creación, no dudes en consultarnos.<br/>
                    Te ayudaremos encantados.
                </p>
            </div>
            <div class="right">
                <form>
                    <div class="row">
                        <label for="contact_name">Nombre</label>
                        <input id="contact_name" type="text" name="contact_name"></input>
                    </div>
                    <div class="row">
                        <label for="contact_company">Empresa</label>
                        <input id="contact_company" type="text" name="contact_company"></input>
                    </div>
                    <div class="row">
                        <label for="contact_email">e-mail</label>
                        <input id="contact_email" type="text" name="contact_email"></input>
                    </div>
                    <div class="row">
                        <label for="contact_comment">Comentario</label>
                        <textarea id="contact_comment"></textarea>
                    </div>
                    <div class="row">
                        <input type="checkbox">Acepto condiciones</input>
                    </div>
                </form>
            </div>
        </div>

    </section>

{% endblock %}
