{% extends 'base.html.twig' %}

{% block body %}

    <section id="info">
        <div class="wrap">
            <article>
                <p>Última actualización: 24 de julio de 2018</p>

                <h2>1.- Titularidad</h2>
                <p>Esta página web es propiedad de <strong>Zeres Abogados y Consultores Laborales SLP</strong>, sociedad mercantil española con domicilio social en Rúa Urzaiz, 48-8º derecha, 36201, Vigo, España y con el NIF: B27852367 Correo electrónico: <a href="mailto:fvalero@zeres.es">zeres@zeres.es</a> (en adelante <strong>AMMANA</strong>) está inscrita en el Registro Mercantil de Vigo, Tomo 4228, Libro 4226, Folio 135 Sección 8, Hoja PO63110.</p>
                <p>La página web <a href="http://www.ammana.es"">www.ammana.es</a> es un producto de la división legaltech del despacho <strong>ZERES ABOGADOS</strong></p>

                <h2>2.- Aceptación</h2>

                <p>Esta tienda online (en adelante el Servicio) está disponible para cualquier usuario, para su consumo propio, y sujeta a los siguientes términos y condiciones: estas Condiciones de Uso y Contratación (en adelante CUC), nuestra Política de Privacidad y Política de Cookies. </p>

                <p>Cuando usas el Servicio, aceptas estas CUC y el resto de términos y condiciones. </p>

                <p>Con ello te comprometes a no usar este sitio para fines ilegales. </p>

                <p>Por otro lado, te informamos que por motivos legales archivamos los documentos electrónicos en que quedan formalizadas las compras. Podrás acceder a dichos documentos en cualquier momento, desde tu perfil o solicitándolo en <a href="mailto:legal@ammana.es">legal@ammana.es</a></p>

                <h2>3.- Descripción del Servicio</h2>
                <p>A través del Servicio, <strong>AMMANA</strong> permite la compra de protocolos sobre diversas materias aplicables en el ámbito laboral. Estos protocolos se generarán de forma individualizada tras responder al cuestionario que se le presentarán en la web.</p>

                <p>La persona que desee comprar uno o varios de los protocolos ofertados tiene que registrarse, rellenando los formularios correspondientes.</p>

                <p>Una vez que el cliente se haya registrado accederá a la sección de protocolos disponibles.</p>
                <p>El cliente elegirá uno de los protocolos disponibles, tras clicar en el protocolo elegido se le presentará un cuestionario que tendrá que responder en su totalidad para que se pueda generar el protocolo. En caso de que el cliente no haya realizado correctamente el proceso de registro será inmediatamente redirigido al formulario de registro. Sólo una vez se haya registrado correctamente se podrá avanzar a la fase de relleno del cuestionario que es necesario para poder generar el protocolo.</p>

                <p>Una vez respondido en el cuestionario se generará el pedido y se mostrará al cliente las opciones de pago que en este momento son por transferencia bancaria o bien utilizando PayPal.</p>

                <p>Si se elige pagar mediante transferencia bancaria en la web se te mostrarán los datos de la cuenta corriente perteneciente a Zeres Abogados y Consultores Laborales SLP en donde tienes que realizar la transferencia.</p>

                <p>Si se elige pagar mediante PayPal serás redireccionado a la página web de PayPal en donde se tiene que efectuar el pago y una vez hecho serás nuevamente redireccionado a <a href="http://www.ammana.es"">www.ammana.es</a>.</p>

                <p>Si deseas comprar otro protocolo diferente tendrás que seleccionarlo y realizar los pasos ya descritos: rellenar el cuestionario y elegir el método de pago.</p>

                <p>Se te enviará un correo electrónico de confirmación del pedido realizado.</p>


                <p>El documento de formalización de la compra se almacenará en tu perfil para su consulta. En todo caso, siempre podrás solicitarlo a <a href="mailto:hola@ammana.es">hola@ammana.es</a></p>

                <h2>4.- Enlaces externos</h2>

                <p>Puede que desde el Servicio se te envíe a otros sitios web a través de enlaces. </p>

                <p>Sin embargo, <strong>AMMANA</strong> no controla esos sitios o su contenido, que de hecho están sujetos a sus propios términos y condiciones. Por tanto, <strong>AMMANA</strong> no es responsable de la calidad, veracidad o exactitud de esos sitios. </p>

                <h2>5.- Edad </h2>

                <p>Declaras que eres mayor de edad y que dispones de la capacidad legal necesaria para vincularte por este acuerdo y utilizar el Servicio de conformidad con estas CUC, que comprendes y reconoces en su totalidad. </p>

                <p>Declaras que toda la información proporcionada para acceder al Servicio, antes y durante su utilización, es verdadera, completa y precisa.</p>

                <h2>6.- Propiedad intelectual e industrial</h2>

                <p>El contenido y la información del Servicio (entre otros datos, texto, sonido, imagen o código informático), así como la infraestructura utilizada para proporcionar tal contenido e información, es propiedad de <strong>AMMANA</strong> o dispone de las autorizaciones correspondientes para su uso. </p>

                <p>Además, se prohíbe la modificación, reproducción, duplicación, copia, distribución, venta, reventa y demás formas de explotación para fines comerciales o equivalentes del Servicio.</p>

                <p>Para cualquier otro uso del contenido del Servicio necesitas nuestro consentimiento previo por escrito.</p>

                <h2>7.- Descarga del producto y disponibilidad</h2>

                <p><strong>Si se realiza el pago mediante el servicio de PayPal</strong> el cliente podrá descargarse de forma inmediata el protocolo o los protocolos que haya adquirido.</p>

                <p><strong>Si se realiza el pago mediante transferencia bancaria</strong> no se podrá descargar el o los protocolos que se han comprado hasta que se haga efectiva la transferencia del precio en la cuenta titularidad de Zeres Abogados y Consultores Laborales SLP. Se enviará un correo electrónico, previamente proporcionado por el cliente durante el proceso de registro, en donde se le informará de que su protocolo o protocolos pueden ser descargados. </p>

                <h2>8.- Precio e impuestos </h2>
                <p>Los precios de los productos ofertados en <strong>AMMANA</strong> están indicados en euros (€), grabándose sobre el precio de los productos el Impuesto sobre el Valor Añadido (IVA) vigente en el momento de la compra.</p>

                <h2>9.- Forma de pago</h2>

                <p>El pago de los productos contratados se podrá realizar:</p>
                <ul>
                    <li>Mediante transferencia bancaria a la cuenta titularidad de Zeres Abogados y Consultores Laborales SLP.</li>
                    <li>Mediante el servicio de PayPal.</li>
                </ul>

                <p>En este sentido, <strong>AMMANA</strong> informa que el cliente es el único responsable de las transacciones en la tienda online. Las mismas se realizan en una página segura, utilizándose la tecnología SSL para garantizar la seguridad en la transmisión de los datos. </p>

                <h2>10.- Validez de la oferta </h2>
                <p>Los productos ofertados en el Servicio, y los precios de éstos, estarán disponibles para su compra mientras se encuentren en el catálogo de productos visualizados por medio de la tienda online.</p>

                <p>En todo caso, <strong>AMMANA</strong> se reserva el derecho de efectuar en el Servicio las modificaciones que considere oportunas, pudiendo actualizar productos y servicios en función del mercado.</p>

                <p>Los precios que aparecen en la web están sujetos a cambios. <strong>AMMANA</strong> se reserva el derecho de cambiar los precios sin aviso previo. Sin embargo, tras la recepción de la confirmación del pedido, los precios a pagar por dicho pedido no se verán afectados. </p>

                <p>Te informamos que a pesar de las actualizaciones que se realizan a los precios del Servicio, éstos podrían contener errores. Corregiremos con prontitud todos los errores que aparezcan, pero no serán vinculantes con el Servicio.</p>

                <h2>11.- Garantías </h2>

                <p>Quedan garantizados todos los derechos que las leyes en vigor te garanticen como consumidor y usuario.</p>

                <h2>12.- Seguridad</h2>
                <p>Como se ha indicado anteriormente, todo el procedimiento de compraventa, así como la transmisión de tus datos personales, se efectúan en una página segura y de forma cifrada a través del protocolo SSL.</p>

                <h2>13.- Modificaciones y nulidad</h2>

                <p>Podremos actualizar los términos y condiciones del Servicio en el futuro. </p>

                <p>Te informaremos sobre esos cambios colocando un aviso en un lugar prominente de nuestro sitio web y/o por correo electrónico.</p>

                <p>Si cualquier cláusula incluida en estas CUC fuese declarada, total o parcialmente, nula o ineficaz, la misma solo afectará a dicha disposición o a la parte de la misma que resulte nula o ineficaz. Subsistirán las CUC en todo lo demás, teniéndose tal disposición, o la parte de la misma que resultase afectada, por no puesta. </p>

                <h2>14.- Reclamaciones y acciones derivadas del contrato </h2>

                <p>Este contrato se rige por la legislación española. </p>

                <p>Con el fin de simplificar la resolución de reclamaciones por la vía civil y reducir costes, no excluimos la posibilidad de someternos ante un Arbitraje de Equidad de la Corte de Arbitraje de las Cámaras de Comercio e Industria. </p>

                <p>En este sentido, y según la normativa aplicable, <strong>AMMANA</strong> informa de la existencia de una plataforma europea de resolución de litigios en línea que facilita la resolución extrajudicial de dichos litigios para contratos celebrados igualmente en línea entre consumidores y prestadores de servicios de Internet. A dicha plataforma se podrá acceder a través de la siguiente página web: <a href="http://ec.europa.eu/odr" target="_blank" rel="noopener">http://ec.europa.eu/odr</a></p>

                <p>En cualquier caso, los contratos celebrados por medio de <strong>AMMANA</strong> se presumirán celebrados en el domicilio del comprador.</p>

                <h2>15.- Idioma de los términos y condiciones</h2>

                <p>Los términos y condiciones del Servicio se presentan en castellano.</p>

                <h2>16.- Atención al cliente</h2>

                <p>Para cualquier aclaración, incidencia o reclamación, puedes contactar con nosotros enviándonos un correo electrónico a: <a href="mailto:legal@ammana.es">legal@ammana.es</a></p>
            </article>
        </div>
    </section>

{% endblock %}
