{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

{% extends 'base.html.twig' %}

{% block body %}

    <style>
        ol {
            list-style: lower-alpha;
        }
    </style>

    <section id="info">
        <div class="wrap">
            <article>
                <h1 id="politica-de-privacidad">Política de Privacidad</h1>

                <p>Última actualización: 23 de julio de 2018</p>

                <h2 id="responsable-del-tratamiento">1.- Responsable del tratamiento de datos personales</h2>

                <p>
                    <strong> Responsable: </strong>
                        ZERES ABOGADOS Y CONSULTORES LABORALES, SOCIEDAD LIMITADA PROFESIONAL.<br/>

                    <strong> NIF:</strong>
                        B27852367<br/>

                    <strong> Correo electrónico: </strong>
                        hola@ammana.es<br/>

                    <strong> Domicilio: </strong>
                        Calle Urzaiz, 48, 8 º- D, Vigo (cp 36201), Pontevedra<br/>

                    <strong> Datos registrales: </strong>
                        Inscrita en el Registro Mercantil de Pontevedra, Tomo 4226, Libro 4226, Folio 135, Sección 8, Hoja 63110<br/>

                    <strong><i> Representante: </i></strong>
                        <i>Fabián Valero Moldes (hola@ammana.es)</i> 
                </p>

                <p>
                    La aceptación de la política de privacidad de <strong>www.ammana.es</strong> (en adelante
                    “Política de Privacidad”), es condición necesaria para el uso de nuestra web (en adelante
                    “Servicio”).
                </p>

                <p>
                    Esta Política de Privacidad regula la recopilación, tratamiento y uso de tu información
                    personal y no personal como usuario del Servicio, a partir de la fecha de entrada en vigor
                    que aparece en el encabezado.
                </p>

                <p>
                    <strong>www.ammana.es</strong> no vende a terceros tu información personal y siempre
                    te pedirá consentimiento antes de utilizar tus datos para cualquier fin distinto de los
                    que se describen en esta Política de Privacidad.
                </p>

                <p>
                    Para tratar tus datos personales, <strong>www.ammana.es</strong> cumple con la legislación
                    vigente, local y europea, así como su normativa de desarrollo.
                </p>

                <p>
                    Por ello adopta las medidas técnicas y organizativas necesarias para evitar la pérdida,
                    mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados.
                    Siempre de acuerdo al estado de la tecnología, la naturaleza de los datos y los riesgos
                    a los que están expuestos. 
                </p>

                <h2 id="finalidad">2. Finalidad</h2>

                <h3>
                    ¿Con que finalidad tratamos tus datos personales?
                </h3>

                <p>
                    En <strong>www.ammana.es</strong> tratamos la información que nos facilitan las personas
                    interesadas en nuestros servicios con la finalidad de poder proporcionales un adecuado
                    servicio .
                </p>

                <h3>
                    ¿Por cuánto tiempo conservamos tus datos personales?
                </h3>

                <p>
                    Los datos personales que nos proporciones los conservaremos durante todo el tiempo que
                    permanezca tu cuenta activa y durante los plazos que la legislación nos obliga a conservarlos.
                </p>

                <p>
                    <strong>www.ammana.es</strong> usará los datos recopilados para: 
                </p>

                <ul>
                    <li> Administrar, proporcionar y actualizar el Servicio. </li>
                    <li> Atender las cuestiones que plantees. </li>
                    <li> Mantener la seguridad del Servicio, investigar actividades ilícitas, hacer cumplir
                         nuestros términos y condiciones y ayudar a los cuerpos y fuerzas de seguridad del
                         estado en el marco de sus eventuales investigaciones. </li>
                </ul>

                <p>
                    Asimismo, <strong>www.ammana.es</strong> podrá utilizar la información personal y no
                    personal de los usuarios en forma de datos agregados y anónimos para mostrarlos a terceros.
                    También podrá compartir estadísticas y la información demográfica sobre los usuarios y su
                    utilización del Servicio con terceros. Nada de esto permitirá a esos terceros identificarte
                    personalmente.
                </p>

                <h2 id="legitimacion">3. Legitimación</h2>

                <h3>
                     ¿Cuál es la legitimación para el tratamiento de sus datos?
                </h3>
                     
                <p>
                    La base legal para el tratamiento de tus datos es tu consentimiento. Tú de manera
                    voluntaria nos proporcionas ciertos datos tuyos para utilizar los servicios que te
                    ofrece <strong>www.ammana.es</strong>. 
                </p>

                <p>
                    Para poder utilizar todos los servicios que te ofrece <strong>www.ammana.es</strong>
                    tienes que registrarte con una cuenta de correo electrónico. 
                </p>

                <h2 id="destinatarios">4. Destinatarios</h2>

                <p>
                    <strong>www.ammana.es</strong> comparte cierta información que nos proporcionas con
                    Google Analytics con fines estadísticos. También compartiremos la información a que
                    estemos obligados por ley cuando se nos requiera para ello.
                </p>

                <p>
                    Bajo algunas circunstancias, <strong>www.ammana.es</strong> podrá compartir, usar o
                    preservar con terceros alguna de la información personal recopilada: 
                </p>

                <ul>
                    <li>
                        Para prestar el Servicio:
                        <ol type="a">
                            <li>
                                Los proveedores de servicios que prestan funciones en nuestro nombre,
                                como por ejemplo alojamiento web o analítica comercial. Estos proveedores
                                de servicios pueden recopilar y tener acceso a la información que les sea
                                necesaria para desempeñar sus funciones, pero no tienen permitido
                                compartir o utilizar la información para ningún otro propósito.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Para cooperar con las autoridades competentes:
                        <ol type="a">
                            <li>
                                Si creemos que es razonablemente necesario para satisfacer cualquier ley,
                                proceso legal o interés legítimo en cualquier parte del mundo. En cualquier
                                caso, sólo proporcionaremos la información estrictamente requerida.
                            </li>
                            <li>
                                Si creemos que esta acción es apropiada para hacer cumplir con los términos
                                y condiciones de <strong>www.ammana.es</strong>.
                            </li>
                            <li>
                                Si es necesario para detectar o prevenir el fraude o cuestiones relacionadas
                                con la seguridad de <strong>www.ammana.es</strong>, sus proveedores y
                                usuarios.
                            </li>
                    </li>
                </ul>

                <h2 id="derechos">5. Derechos</h2>

                <p>
                    <strong>Derecho de Acceso:</strong> tienes derecho a obtener de <strong>www.ammana.es</strong>
                    la confirmación de si estamos o no tratando datos personales que te conciernan y en ese caso
                    tienes derecho a que te demos acceso a esos datos y a la siguiente información: para qué los
                    utilizamos, que tipos de datos estamos tratando, si se los proporcionamos a terceras empresas,
                    cuanto tiempo los conservamos y en caso de que tú no nos haya proporcionado tus datos de donde
                    los hemos obtenido.
                </p>

                <p>
                    <strong>Derecho de Rectificación:</strong> tienes derecho a obtener de <strong>www.ammana.es</strong>
                    sin un restraso injustificado la rectificación de los datos personales inexactos que te afecten
                    y en su caso tienes derecho a que se completen los datos personales que sean incompletos.
                </p>

                <p>
                    <strong>Derecho de Supresión o Derecho al olvido:</strong> tienes derecho a obtener de
                    <strong>www.ammana.es</strong> la supresión de tus datos personales sin un retraso injustificado
                    cuando concurra alguna de las siguientes circunstancias: 
                </p>

                <ul>
                    <li> Ya no es necesario que sigamos tratando tus datos. </li>
                    <li> Has retirado tu consentimiento para que tratemos tus datos personales. </li>
                    <li> No estamos autorizados a tratar tus datos. </li>
                    <li> Tenemos que suprimir tus datos en cumplimiento de una obligación legal. </li>
                </ul>

                <p>
                    <strong>Derecho a la limitación del tratamiento:</strong> tienes derecho a obtener de <strong>www.ammana.es</strong> la limitación del tratamiento de tus datos personales si se cumplen alguna de las siguientes condiciones:
                </p>

                    <li>
                        Si entiendes que tus datos son inexactos, en este caso disponemos de un (1) mes, a contar
                        desde que recbimos tu reclamación, para acreditar esta circunstancia.
                    </li>
                    <li>
                        No estemos legitimados para tratar tus datos y prefieras ejercer este derecho al de
                        supresión.
                    </li>
                    <li>
                        No necesitemos tratar tus datos para la finalidad para la que los obtuvimos, pero tú
                        los necesites para formular reclamaciones.
                    </li>
                    <li>
                        Si te has opuesto al tratamiento de tus datos.
                    </li>

                <p>
                    <strong>Derecho a la portabilidad de los datos:</strong> tienes derecho a obtener de
                    <strong>www.ammana.es</strong> los datos personales que nos hayas proporcionado en formato
                    estructurado, de uso común y lectura mecánica y a transmitirlos a otro responsible del
                    tratamiento. 
                </p>

                <p>
                    <strong>Derecho de oposición:</strong> tienes derecho a oponerte en cualquier momento por
                    motivos relacionados con tu situación personal a que tratemos tus datos personales,
                    salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles
                    reclamaciones.
                </p>

                <p>
                    Los datos personales que nos facilites quedan incorporados y serán tratados en los
                    ficheros titularidad de <strong>www.ammana.es</strong>, con el fin de poder atender
                    tus peticiones, prestar el servicio solicitado y mantenerte informado sobre cuestiones
                    relativas a la actividad de la empresa y sus servicios. 
                </p>

                <p>
                    Puedes ejercer en cualquier momento los derechos de acceso, rectificación,
                    cancelación, oposición, limitación del tratamiento y a la portabilidad de tus datos
                    de carácter personal mediante correo electrónico dirigido a <a href="mailto:hola@ammana.es">hola@ammana.es</a>.
                </p>

                <p>
                    Te informamos además que si ya nos has otorgado con anterioridad a la fecha de
                    entrada en vigor de este documento tu consentimiento para que tratemos tus datos
                    personales tienes derecho a retirar el consentimiento, esto no afectará a la licitud
                    del tratamiento basado en ese consentimiento previo a su retirada.
                </p>

                <p>
                    En todo caso deberás identificarte con tu nombre y apellidos, además de
                    proporcionarnos una copia de tu DNI o ID nacional.
                </p>

                <p>
                    En caso de que consideres que <strong>www.ammana.es</strong> no ha respetado alguno
                    de tus derechos que antes hemos citado puedes presentar una reclamación ante la
                    <a target="_blank" rel="noopener" href="https://www.aepd.es/">Agencia Española de Protección de Datos</a>.
                </p>

                <p>
                    <a target="_blank" rel="noopener" href="https://www.aepd.es/reglamento/derechos/index.html">Aquí</a>
                    puedes encontrar los diferentes modelos para ejercer tales derechos.
                </p>

                <p>
                    <strong>www.ammana.es se compromete a respetar la confidencialidad de los
                    datos recogidos en el fichero, utilizarlos de acuerdo con la finalidad del mismo, dar
                    cumplimiento a su obligación de custodia y adoptar todas las medidas requeridas para
                    evitar la alteración, pérdida, tratamiento o acceso no autorizado de los datos, de
                    acuerdo a la normativa aplicable.</strong>
                </p>

                <h2 id="procedencia">6. Procedencia</h2>

                <p>
                    La información personal y no personal recopilada por el Servicio nos llegará por dos vías:
                    <strong>1)</strong> la recopilada automáticamente y <strong>2)</strong> la que nos
                    proporciones voluntariamente. 
                </p>

                <h3>
                    6.1.- La recopilada automáticamente
                </h3>

                <p>
                    Esta información consistirá en: 
                </p>

                <ul>
                    <li>
                        La recopilada mediante cookies o mecanismos similares almacenados en tu dispositivo,
                        siempre con tu consentimiento. Consulta nuestra
                        <a href="{{ path('info_cookies') }}">Política de Cookies</a> para más información. 
                    
                    </li>
                    <li>
                        La IP desde la que se realiza la conexión, el tipo de dispositivo usado y sus
                        características, la versión del sistema operativo, el tipo de navegador, el idioma,
                        la fecha, el país, la hora de la solicitud, la URL de referencia o la red móvil empleada
                        (entre otros).
                    </li>

                    <li>
                        Datos de uso del Servicio y posibles errores detectados durante su utilización.
                    </li>

                    <li>
                        Datos sobre tu ubicación física mediante diferentes tecnologías: las señales de GPS
                        enviadas por un dispositivo móvil o la información sobre puntos de acceso Wi-Fi o
                        antenas de telefonía móvil más cercanas. En cualquier caso, estos datos se recopilan
                        siempre de acuerdo a la configuración de privacidad de tu dispositivo.
                    </li>

                    <li>
                        Además, <strong>www.ammana.es</strong> utiliza los servicios Google Analytics.
                        Google Analytics es un servicio analítico prestado por Google, Inc. con domicilio en
                        los Estados Unidos con sede central en 1600 Amphitheatre Parkway, Mountain View,
                        California 94043. Para la prestación de este servicio se utilizan cookies que
                        recopilan la información, incluida la dirección IP del usuario, que será transmitida,
                        tratada y almacenada por Google en los términos fijados en la web www.google.com.
                        Incluyendo la posible transmisión de dicha información a terceros por razones de
                        exigencia legal o cuando dichos terceros procesen la información por cuenta de
                        Google.
                        <br/>
                        <br/>
                        Si quiere saber cómo utiliza Google la información de sitios web o aplicaciones
                        que utilizan sus servicios pinche
                        <a target="_blank" rel="noopener" href="https://policies.google.com/technologies/partner-sites">aquí</a>.
                        En cualquier caso, puedes inhabilitar las cookies de Google Analytics desde
                        <a target="_blank" rel="noopener" href="https://tools.google.com/dlpage/gaoptout">aquí</a>.
                    </li>
                </ul>

                <h3>
                    6.2.- La que proporcionas voluntariamente 
                </h3>

                <p>
                    Esta información consistirá en:
                </p>

                <ul>
                    <li>
                        La requerida por <strong>www.ammana.es</strong> para poder registrarte utilizando
                        una dirección de correo electrónico válida. Si utilizas el correo titularidad
                        de un tercero para registrarte declaras que tienes su consentimiento expreso. 
                        <br/>
                        <br/>
                        En relación a la contraseña, como Usuario serás responsable de su protección.
                        En ese sentido, asumirás cualquier daño y perjuicio que pudiera derivarse de su
                        uso indebido o de la cesión de la misma a terceras personas.
                    </li>
                    <li>
                        La información, personal o no, que pudieran contener los mensajes enviados a
                        través de los canales de contacto establecidos en el Servicio, por ejemplo tu
                        nombre, alias o correo electrónico.
                    </li>

                <h2 id="edad">7.- Edad </h2>

                <p>
                    En cuanto al uso del Servicio, declaras que eres mayor de edad y que dispones de la
                    capacidad legal necesaria para vincularte por este acuerdo y utilizar el sitio de
                    conformidad con sus términos y condiciones, que comprendes y reconoces en su totalidad. 
                </p>

                <p>
                    Declaras que toda la información que proporciones para acceder al Servicio, antes y
                    durante su utilización, es verdadera, completa y precisa.
                </p>

                <h2 id="eliminar-cuenta">8.- Eliminar cuenta</h2>

                <p>
                    Puedes eliminar tu cuenta solicitando su eliminación en <i>la dirección de email
                    <a href="mailto:hola@ammana.es">hola@ammana.es</a></i>
                </p>

                <p>
                    Si decides eliminar tu cuenta, todos tus datos serán eliminados, incluidas
                    copias de seguridad, en un plazo máximo de 90 días. 
                </p>

                <h2 id="medidas-de-seguridad">9.- Medidas de seguridad </h2>

                <p>
                    <strong>www.ammana.es</strong> adopta todas las medidas técnicas y organizativas necesarias
                    para proteger la seguridad e integridad de la información personal y no personal recopilada.
                    Tanto frente a accesos no autorizados como su alteración, pérdida o destrucción accidentales.
                </p>

                <p>
                    El envío y la remisión de datos que realices a través del Servicio, se encuentra protegido
                    por técnicas de seguridad electrónica en la red como el protocolo SSL. Asimismo, la
                    información suministrada y almacenada en las bases de datos de <strong>www.ammana.es</strong>
                    se encuentra igualmente protegida por sistemas de seguridad que impiden el acceso a los
                    mismos por terceros no autorizados.
                </p>

                <p>
                    <strong>www.ammana.es</strong> realiza sus mejores esfuerzos para disponer de los sistemas
                    más actualizados para la eficacia de estos mecanismos de seguridad. Además,
                    <strong>www.ammana.es</strong> almacena la información personal y no personal durante
                    tanto tiempo como permita y exija la normativa. La que no se necesita se destruye
                    periódicamente. 
                </p>

                <p>
                    A pesar de lo anterior, <strong>www.ammana.es</strong> no puede garantizar la seguridad
                    absoluta de la información recopilada. 
                </p>

                <h2 id="cambios">10.- Cambios en la Política de Privacidad</h2>

                <p>
                    Podremos actualizar esta Política de Privacidad en el futuro. 
                </p>

                <p>
                    Te informaremos sobre sus cambios enviando un aviso a la dirección de correo electrónico
                    facilitada y/o colocando un aviso en un lugar prominente de nuestra web.
                </p>

                <h2 id="contacto">11.- Contacto</h2>

                <p>
                    Si tienes dudas sobre esta Política de Privacidad, contacta con nosotros en:
                </p>

                <p>
                    E-mail: <a href="mailto:hola@ammana.es">hola@ammana.es</a>
                </p>

            </article>
        </div>
    </section>

{% endblock %}
