{% extends 'base.html.twig' %}

{% block body %}

    <section id="info">
        <div class="wrap">
            <article>

                <p>Última actualización: 25 de octubre de 2017</p>

                <h2>1.- Descripción </h2>

                <p>La aceptación de la política de privacidad de <strong>AMMANA</strong>  (en adelante “Política de Privacidad”), es condición necesaria para el uso de nuestra tienda online (en adelante “Servicio”).</p>

                <p>Esta Política de Privacidad regula la recopilación, tratamiento y uso de tu información personal y no personal como usuario del Servicio, a partir de la fecha de entrada en vigor que aparece en el encabezado.</p>

                <p><strong>AMMANA</strong> no vende a terceros tu información personal y siempre te pedirá consentimiento antes de utilizar tus datos para cualquier fin distinto de los que se describen en esta Política de Privacidad.</p>

                <p>Para tratar tus datos personales, <strong>AMMANA</strong> cumple con la legislación vigente, local y europea, así como su normativa de desarrollo.</p>

                <p>Por ello adopta las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados. Siempre de acuerdo al estado de la tecnología, la naturaleza de los datos y los riesgos a los que están expuestos. </p>

                <h2>2.- Información recopilada </h2>

                <p>El Servicio puede usarse sin crear cuenta de usuario, como “Usuario no registrado” y como “Usuario Registrado”. En el momento de realizar una compra es cuando se distingue entre “Usuario no registrado” y “Usuario Registrado”. </p>

                <p>La información (personal o no personal) recopilada por el Servicio variará en función de eso. </p>

                <p>La información personal y no personal recopilada por el Servicio nos llegará por tres vías: 1) la recopilada automáticamente 2) la que nos proporciones voluntariamente y 3) la proporcionada por terceros.</p>


                <h3>2.1.- La recopilada automáticamente</h3>

                <p>Esta información consistirá en: </p>

                <ul>
                <li>La recopilada mediante cookies o mecanismos similares almacenados en tu dispositivo, siempre con tu consentimiento. Consulta nuestra Política de Cookies para más información. </li>
                <li>La IP desde la que se realiza la conexión, el tipo de dispositivo usado y sus características, la versión del sistema operativo, el tipo de navegador, el idioma, la fecha, el país, la hora de la solicitud, la URL de referencia o la red móvil empleada (entre otros).</li>
                <li>Datos de uso del Servicio y posibles errores detectados durante su utilización.</li>
                <li>Datos sobre tu ubicación física mediante diferentes tecnologías: las señales de GPS enviadas por un dispositivo móvil o la información sobre puntos de acceso Wi-Fi o antenas de telefonía móvil más cercanas. En cualquier caso, estos datos se recopilan siempre de acuerdo a la configuración de privacidad de tu dispositivo.</li>
                <li>Además, <strong>AMMANA</strong> utiliza Google Analytics, un servicio analítico prestado por Google, Inc. con domicilio en los Estados Unidos con sede central en 1600 Amphitheatre Parkway, Mountain View, California 94043. Para la prestación de estos servicios, estos utilizan cookies que recopilan la información, incluida la dirección IP del usuario, que será transmitida, tratada y almacenada por Google en los términos fijados en la web www.google.com. Incluyendo la posible transmisión de dicha información a terceros por razones de exigencia legal o cuando dichos terceros procesen la información por cuenta de Google. </li>
                </ul>

                <p>En cualquier caso, puedes inhabilitar las cookies de Google Analytics desde <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">aquí</a>.</p>

                <h3>2.2.- La que proporcionas voluntariamente </h3>

                <p>Esta información consistirá en: </p>

                <ul>
                <li>La requerida por <strong>AMMANA</strong> en la creación de un perfil de usuario en la tienda online, debiendo indicar como mínimo la información marcada con un asterisco sobre determinados campos: nombre y apellidos, correo electrónico y contraseña.
                En relación a la contraseña, el Usuario será responsable de su protección. En ese sentido, asumirá cualquier daño y perjuicio que pudiera derivarse de su uso indebido o de la cesión de la misma a terceras personas.</li>
                <li>La información, personal o no, que pudieran contener los mensajes enviados a través de los canales de contacto u opinión establecidos en el Servicio, por ejemplo tu nombre, alias o correo electrónico.</li>
                </ul>

                <h3>2.3.- La proporcionada por terceros</h3>

                <p>Esta información consistirá en: </p>

                <ul>
                <li>La proporcionada por sistemas de pago, como la hora de la compra o su importe.</li>
                </ul>

                <h2>3.- Derechos y finalidades </h2>

                <p>Te informamos que la cumplimentación de los formularios tiene carácter voluntario. Ahora bien, si no rellenas los campos obligatorios (marcados con un asterisco) el uso del Servicio no será posible o se verá limitado. </p>

                <p>Los datos personales que nos facilites quedan incorporados y serán tratados en los ficheros titularidad de <strong>AMMANA</strong>, con el fin de poder atender tus peticiones, prestar el servicio solicitado y mantenerte informado sobre cuestiones relativas a la actividad de la empresa y sus servicios. </p>

                <p>Puedes ejercer en cualquier momento los derechos de acceso, rectificación, cancelación y oposición de tus datos de carácter personal mediante correo electrónico dirigido a: <a href="mailto:legal@ammana.es">legal@ammana.es</a></p>

                <p>Deberás identificarte con tu nombre y apellidos, además de una copia de tu DNI o ID nacional. </p>

                <p><a href="http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/derechos/principales_derchos/index-ides-idphp.php" target="_blank">Aquí</a> puedes encontrar los diferentes modelos para ejercer tales derechos.</p>

                <p><strong>AMMANA</strong> se compromete a respetar la confidencialidad de los datos recogidos en el fichero, utilizarlos de acuerdo con la finalidad del mismo, dar cumplimiento a su obligación de custodia y adoptar todas las medidas requeridas para evitar la alteración, pérdida, tratamiento o acceso no autorizado de los datos, de acuerdo a la normativa aplicable.</p>

                <h2>4.- Edad</h2>

                <p>En cuanto al uso de la tienda online, declaras que eres mayor de edad y que dispones de la capacidad legal necesaria para vincularte por este acuerdo y utilizar el sitio de conformidad con sus términos y condiciones, que comprendes y reconoces en su totalidad. </p>

                <p>Declaras que toda la información que proporciones para acceder al Servicio, antes y durante su utilización, es verdadera, completa y precisa.</p>

                <h2>5.- Uso de los datos</h2>

                <p><strong>AMMANA</strong> usará los datos recopilados para:</p>

                <ul>
                    <li>Administrar, proporcionar y actualizar el Servicio.</li>
                    <li>Atender las cuestiones que plantees.</li>
                    <li>Procesar los pagos que realices.</li>
                </ul>

                <p>Enviarte mediante correo electrónico, si lo has autorizado o según lo previsto en la normativa aplicable, nuestro boletín informativo y/u ofertas de nuestros socios comerciales.</p>

                <p>Podrás darte de baja de los mismos desde el propio correo electrónico recibido, desde tu cuenta de usuario o contactando con nosotros en <a href="mailto:legal@ammana.es">legal@ammana.es</a>. No obstante, no podrás darte de baja de determinada correspondencia nuestra, como los mensajes relativos a la seguridad de tus datos o los términos y condiciones del Servicio.</p>

                <ul>
                    <li>Planificar y desarrollar las actividades comerciales del Servicio, como por ejemplo publicidad, directamente o mediante terceros colaboradores. </li>
                    <li>Mantener la seguridad del Servicio, investigar actividades ilícitas, hacer cumplir nuestros términos y condiciones y ayudar a los cuerpos y fuerzas de seguridad del estado en el marco de sus eventuales investigaciones.</li>
                </ul>

                <p>Asimismo, <strong>AMMANA</strong> podrá utilizar la información personal y no personal de los usuarios en forma de datos agregados y anónimos para mostrarlos a terceros. También podrá compartir estadísticas y la información demográfica sobre los usuarios y su utilización del Servicio con terceros. Nada de esto permitirá a esos terceros identificarte personalmente.</p>

                <h2>6.- Eliminar cuenta</h2>

                <p>Puedes eliminar tu cuenta solicitando su eliminación en <a href="mailto:legal@ammana.es">legal@ammana.es</a>.</p>

                <p>Si decides eliminar tu cuenta, todos tus datos serán eliminados, incluidas copias de seguridad, en un plazo máximo de 90 días.</p>

                <h2>7.- Datos compartidos con terceros</h2>

                <p>Hay terceros que gestionan parte del Servicio. </p>

                <p>A ellos <strong>AMMANA</strong> les exige que cumplan esta Política de Privacidad en lo que les resulte aplicable, además de tener la suya propia. No obstante, <strong>AMMANA</strong> no será responsable del cumplimiento de dicha política.</p>

                <p>Bajo algunas circunstancias, <strong>AMMANA</strong> podrá compartir, usar o preservar con terceros alguna de la información personal recopilada:</p>

                <ul>
                    <li>
                        Para prestar el Servicio:
                        <ol>
                            <li>Los proveedores de servicios que prestan funciones en nuestro nombre, como por ejemplo, entre otros, alojamiento web, analítica comercial, servicio de atención cliente o marketing. Estos proveedores de servicios pueden recopilar y tener acceso a la información que les sea necesaria para desempeñar sus funciones, pero no tienen permitido compartir o utilizar la información para ningún otro propósito.</li>
                        </ol>
                    </li>

                    <li>
                        Para cooperar con las autoridades competentes:
                        <ol>
                            <li>Si creemos que es razonablemente necesario para satisfacer cualquier ley, proceso legal o interés legítimo en cualquier parte del mundo. En cualquier caso, sólo proporcionaremos la información estrictamente requerida.</li>
                            <li>Si creemos que esta acción es apropiada para hacer cumplir con los términos y condiciones de <strong>AMMANA</strong>.</li>
                            <li>Si es necesario para detectar o prevenir el fraude o cuestiones relacionadas con la seguridad de <strong>AMMANA</strong>, sus proveedores y usuarios.</li>
                        </ol>
                    </li>


                <h2>8.- Medidas de seguridad </h2>

                <p><strong>AMMANA</strong> adopta todas las medidas técnicas y organizativas necesarias para proteger la seguridad e integridad de la información personal y no personal recopilada. Tanto frente a accesos no autorizados como su alteración, pérdida o destrucción accidentales.</p>

                <p>El envío y la remisión de datos que realices a través del Servicio, se encuentra protegido por técnicas de seguridad electrónica en la red como el protocolo SSL. Asimismo, la información suministrada y almacenada en las bases de datos de <strong>AMMANA</strong> se encuentra igualmente protegida por sistemas de seguridad que impiden el acceso a los mismos por terceros no autorizados.</p>

                <p><strong>AMMANA</strong> realiza sus mejores esfuerzos para disponer de los sistemas más actualizados para la eficacia de estos mecanismos de seguridad. Además, <strong>AMMANA</strong> almacena la información personal y no personal durante tanto tiempo como permita y exija la normativa. La que no se necesita se destruye periódicamente. </p>

                <p>A pesar de lo anterior, <strong>AMMANA</strong> no puede garantizar la seguridad absoluta de la información recopilada, por lo que debes colaborar y utilizar en todo momento el sentido común sobre la información compartida, debes ser consciente que publicas los datos bajo tu propia responsabilidad. <strong>AMMANA</strong> no puede garantizar que la información publicada no será vista por personas no autorizadas. Entiendes y reconoces que, incluso después de su eliminación, la información personal y no personal puede permanecer visible en caché o si otros usuarios la han copiado o almacenado.</p>

                <h2>9.- Cambios en la Política de Privacidad</h2>

                <p>Podremos actualizar esta Política de Privacidad en el futuro. </p>

                <p>Te informaremos sobre sus cambios enviando un aviso a la dirección de correo electrónico facilitada y/o colocando un aviso en un lugar prominente de nuestra web.</p>

                <h2>10.- Contacto</h2>

                <p>Si tienes dudas sobre esta Política de Privacidad, contacta con nosotros en:</p>

                <p>E-mail: <a href="mailto:hola@ammana.es">hola@ammana.es</a> </p>

            </article>
        </div>
    </section>

{% endblock %}
