.small-sheet {
    width: 100%;
    padding: 0 25%;
}

#user_form > div {
    white-space:nowrap;
    float: left;
    width: 100%;
}
#user_form > div label {
    float: left;
    width: 40%;
}
#user_form > div input, #user_form > div select {
    float: right;
    width: 40%;
}
form > input.btn {
    margin: 30px auto;
    text-align: left;
    float: right;
}
