{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper row3">
        <main class="hoc container clear"> 
            <div class="btmspace-50 small-sheet">
                <h2 class="heading">Cuenta activada</h2>
                <p>
                    Gracias por registrarte con nosotros. Puedes empezar a usar ammana.es dirigiéndote a la <a href="{{ path('user_login') }}">página de login</a>
                </p>
            </div>
            <div class="clear"></div>
        </main>
    </div>

{% endblock %}
