{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper row3">
        <main class="hoc container clear"> 
            <div class="btmspace-50 small-sheet">
                <h2 class="heading">Estableciendo nueva contraseña</h2>
                <p>
                    Por favor, revisa tu bandeja de correo, donde encontrarás un correo para establecer una contraseña nueva.
                </p>
            </div>
            <div class="clear"></div>
        </main>
    </div>

{% endblock %}
