AppBundle\Entity\User:
    type: entity
    table: null
    repositoryClass: AppBundle\Repository\UserRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        email:
            type: string
            length: '64'
            unique: true
        password:
            type: string
            length: '32'
        companyName:
            type: string
            length: '75'
            column: company_name
            nullable: true
        enabled:
            type: boolean
            column: enabled
            nullable: false
        cif:
            type: string
            length: '9'
            unique: true
            nullable: true
        address:
            type: string
            length: '116'
            nullable: true
        contactPerson:
            type: string
            length: '100'
            nullable: true
            column: contact_person
        activationHash:
            type: string
            length: '100'
            nullable: true
            column: activation_hash
        numberEmployees:
            type: string
            length: '12'
            nullable: true
            column: number_employees
        sector:
            type: string
            length: '100'
            nullable: true
        logo:
            type: string
            length: '200'
            nullable: true
    lifecycleCallbacks: {  }
