<h1>Bienvenido a ammana.es</h1>

<p>
Por favor, confirma tu cuenta de correo haciendo click en el siguiente enlace:<br/>
<a href="{{ path('activate_user', {'hash': hash}) }}">Activa tu cuenta</a>
</p>

<p>
Si el enlace no funciona, copia y pega esto en tu navegador:<br/>
<a href="{{ path('activate_user', {'hash': hash}) }}">{{ path('activate_user', {'hash': hash}) }}</a>
</p>
