<h1>Estableciendo nueva contraseña</h1>

<p>
Recibes este correo porque alguien ha indicado que quieres restablecer tu contraseña. Si no has sido tú, puedes ignorar este correo con seguridad. En otro caso, sigue el siguiente enlace para establecer una nueva contraseña:
<br/>
<a href="{{ url('new_password', {'activationHash': activationHash}) }}">Establecer nueva contraseña</a>
</p>

<p>
Si el enlace no funciona, copia y pega esto en tu navegador:<br/>
<a href="{{ url('new_password', {'activationHash': activationHash}) }}">{{ url('new_password', {'activationHash': activationHash}) }}</a>
</p>
